<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-ig navbar-dark bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Contingency Bill form
          </a>
        </div>
      </nav>
  </body>
  <div class="form-dark container mt-3">
    <form class="row g-5">
      <div class="col-md-2">
        <label for="inputState" class="form-label">For the month of</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputState" class="form-label">Year</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-8">
        <label for="formFile" class="form-label">File name</label>
        <input class="form-control" type="file" id="formFile">
      </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Imprest cashbook of</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputsanctioning" class="form-label">Reference to Sanctioning No.</label>
          <input type="text" class="form-control" id="inputsanctioning">
        </div>
        <div class="col-md-4">
          <label for="inputsanstionamount" class="form-label">Total Sanctioned Amount</label>
          <input type="text" class="form-control" id="inputsanstionamount">
        </div>
        <div class="col-md-4">
          <label for="inputspentamount" class="form-label">Total Spent Amount</label>
          <input type="text" class="form-control" id="inputspentamount">
        </div>
        <div class="col-md-4">
          <label for="inputunspentbalance" class="form-label">Unspent Balance</label>
          <input type="text" class="form-control" id="inputunspentbalance">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">Calculate</button>
        </div>



        <div class="col-12">
          <class="form-label">Entry 1 :</label>
        </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputvoucherno" class="form-label">Voucher No.</label>
          <input type="text" class="form-control" id="inputvoucherno">
        </div>
        <div class="col-md-6">
          <label for="inputcashpayment" class="form-label">Amount of cash payment</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputtotal" class="form-label">Total</label>
          <input type="text" class="form-control" id="inputtotal">
        </div>
        <div class="col-md-12">
          <label for="inputremark" class="form-label">Remarks</label>
          <input type="text" class="form-control" id="inputremark">
        </div>



        <div class="col-12">
          <label class=col-sm-2 col col-form-lg">Entry 2 :</label>
        </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputvoucherno" class="form-label">Voucher No.</label>
          <input type="text" class="form-control" id="inputvoucherno">
        </div>
        <div class="col-md-6">
          <label for="inputcashpayment" class="form-label">Amount of cash payment</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputtotal" class="form-label">Total</label>
          <input type="text" class="form-control" id="inputtotal">
        </div>
        <div class="col-md-12">
          <label for="inputremark" class="form-label">Remarks</label>
          <input type="text" class="form-control" id="inputremark">
        </div>



        <div class="col-12">
          <class="form-label">Entry 3 :</label>
        </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputvoucherno" class="form-label">Voucher No.</label>
          <input type="text" class="form-control" id="inputvoucherno">
        </div>
        <div class="col-md-6">
          <label for="inputcashpayment" class="form-label">Amount of cash payment</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputtotal" class="form-label">Total</label>
          <input type="text" class="form-control" id="inputtotal">
        </div>
        <div class="col-md-12">
          <label for="inputremark" class="form-label">Remarks</label>
          <input type="text" class="form-control" id="inputremark">
        </div>



        <div class="col-12">
          <class="form-label">Entry 4 :</label>
        </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputvoucherno" class="form-label">Voucher No.</label>
          <input type="text" class="form-control" id="inputvoucherno">
        </div>
        <div class="col-md-6">
          <label for="inputcashpayment" class="form-label">Amount of cash payment</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputtotal" class="form-label">Total</label>
          <input type="text" class="form-control" id="inputtotal">
        </div>
        <div class="col-md-12">
          <label for="inputremark" class="form-label">Remarks</label>
          <input type="text" class="form-control" id="inputremark">
        </div>



        <div class="col-12">
          <class="form-label">Entry 5 :</label>
        </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputvoucherno" class="form-label">Voucher No.</label>
          <input type="text" class="form-control" id="inputvoucherno">
        </div>
        <div class="col-md-6">
          <label for="inputcashpayment" class="form-label">Amount of cash payment</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputtotal" class="form-label">Total</label>
          <input type="text" class="form-control" id="inputtotal">
        </div>
        <div class="col-md-12">
          <label for="inputremark" class="form-label">Remarks</label>
          <input type="text" class="form-control" id="inputremark">
        </div>



        <div class="col-12">
          <class="form-label">Entry 6 :</label>
        </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputvoucherno" class="form-label">Voucher No.</label>
          <input type="text" class="form-control" id="inputvoucherno">
        </div>
        <div class="col-md-6">
          <label for="inputcashpayment" class="form-label">Amount of cash payment</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputtotal" class="form-label">Total</label>
          <input type="text" class="form-control" id="inputtotal">
        </div>
        <div class="col-md-12">
          <label for="inputremark" class="form-label">Remarks</label>
          <input type="text" class="form-control" id="inputremark">
        </div>



        <div class="col-12">
          <class="form-label">Entry 7 :</label>
        </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputvoucherno" class="form-label">Voucher No.</label>
          <input type="text" class="form-control" id="inputvoucherno">
        </div>
        <div class="col-md-6">
          <label for="inputcashpayment" class="form-label">Amount of cash payment</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputtotal" class="form-label">Total</label>
          <input type="text" class="form-control" id="inputtotal">
        </div>
        <div class="col-md-12">
          <label for="inputremark" class="form-label">Remarks</label>
          <input type="text" class="form-control" id="inputremark">
        </div>



        <div class="col-12">
          <class="form-label">Entry 8 :</label>
        </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputvoucherno" class="form-label">Voucher No.</label>
          <input type="text" class="form-control" id="inputvoucherno">
        </div>
        <div class="col-md-6">
          <label for="inputcashpayment" class="form-label">Amount of cash payment</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputtotal" class="form-label">Total</label>
          <input type="text" class="form-control" id="inputtotal">
        </div>
        <div class="col-md-12">
          <label for="inputremark" class="form-label">Remarks</label>
          <input type="text" class="form-control" id="inputremark">
        </div>



        <div class="col-12">
          <class="form-label">Entry 9 :</label>
        </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputvoucherno" class="form-label">Voucher No.</label>
          <input type="text" class="form-control" id="inputvoucherno">
        </div>
        <div class="col-md-6">
          <label for="inputcashpayment" class="form-label">Amount of cash payment</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputtotal" class="form-label">Total</label>
          <input type="text" class="form-control" id="inputtotal">
        </div>
        <div class="col-md-12">
          <label for="inputremark" class="form-label">Remarks</label>
          <input type="text" class="form-control" id="inputremark">
        </div>



        <div class="col-12">
          <class="form-label">Entry 10 :</label>
        </div>
        <div class="col-md-6">
          <label for="inputcashbook" class="form-label">Date</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputvoucherno" class="form-label">Voucher No.</label>
          <input type="text" class="form-control" id="inputvoucherno">
        </div>
        <div class="col-md-6">
          <label for="inputcashpayment" class="form-label">Amount of cash payment</label>
          <input type="text" class="form-control" id="inputcashbook">
        </div>
        <div class="col-md-6">
          <label for="inputtotal" class="form-label">Total</label>
          <input type="text" class="form-control" id="inputtotal">
        </div>
        <div class="col-md-12">
          <label for="inputremark" class="form-label">Remarks</label>
          <input type="text" class="form-control" id="inputremark">
        </div>
       

        <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
          <div class="container text-center">
            <small>Copyright &copy; Your Website</small>
          </div>
        </footer>


    </form>
  </div>
</html>